n8n/20-n8n-http-request-and-webhook/api-request.json
{
  "name": "▶️ API Request",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "88de363f-34a1-4040-8be0-3608e8e92bce",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://n8n-alex.zeabur.app/webhook/health",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ],
      "id": "45d89f61-ceeb-4684-839f-b54f658c0635",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "20dc19aa-7ef1-4212-8cdd-4cd0826e749e",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        0,
        220
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/13lZpM1v2i5SWzkmnQ7mTx8UtI191O--gw0KkiHaR9zk/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "URL",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "URL": "=API請求Demo ",
            "Status 狀態": "={{ $json.status }}",
            "Timestamp": "={{ $now }}",
            "Payload 內容": "={{ $json['頻道敘述'] }}\n{{ $json['Yutuber 頻道'] }}"
          },
          "matchingColumns": [
            "URL"
          ],
          "schema": [
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Status 狀態",
              "displayName": "Status 狀態",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Payload 內容",
              "displayName": "Payload 內容",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fecd8789-8a4e-4421-8180-e43ee99f9402",
      "name": "Update to Monitor",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        560,
        0
      ],
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h9nt1tzSKXo5I5yr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## API 請求 - 測試健康狀況",
        "height": 500,
        "width": 1050
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -100
      ],
      "id": "c126439b-fa3d-434f-b95f-4b30839a671c",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update to Monitor",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "605e3a5e-11a3-40ac-b323-52183d139310",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98fc6998a4fc974191a50fd1e28f3c93149311bffb0a029723a4889a4111c908"
  },
  "id": "61ifWbhT4u2uKcVz",
  "tags": [
    {
      "createdAt": "2025-03-17T08:20:06.861Z",
      "updatedAt": "2025-03-17T08:20:06.861Z",
      "id": "pvRmfUcHdkTEgrk9",
      "name": "yt"
    },
    {
      "createdAt": "2025-04-23T00:34:42.978Z",
      "updatedAt": "2025-04-23T00:34:42.978Z",
      "id": "UvB2d0gB1EZryRn0",
      "name": "webhook"
    }
  ]
}