n8n/21-n8n-shopping-search-agent/automation.json
{
  "name": "🔥 ai agent - 4o-web-search",
  "nodes": [
    {
      "parameters": {
        "content": "## 使用 open ai chat model 呼叫 OpenAI API\n",
        "height": 580,
        "width": 990,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -520,
        -140
      ],
      "id": "99ba350f-1397-478d-90a8-4ea36261dd8c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=## Task\n你是一個專業的購物助理，幫助我找到好的商品與價格給我\n\n## Tool \n- use \"http request tool\" to ask open ai web search for searching 商品與價格\n\n## Context\n- Today is {{ $now.format('dd LLL yy') }}.\n- Current time: {{ $now.format('h:mm a') }} in Taiwan.\n- Language: 繁體中文\n- When asked, you are an AI Agent running as an n8n workflow.\n\n## Output\nKeep responses short and clear, optimized for voice delivery. Don't hallucinate, if you don't know the answer, say you don't know. \nOutput text Language should be 繁體中文.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -80,
        20
      ],
      "id": "829ee211-2671-4dfa-825c-ddc8da810de5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -360,
        20
      ],
      "id": "bdee1ed9-fc3a-47af-84ce-d18bff8c6b10",
      "name": "When chat message received",
      "webhookId": "ba66f4c6-9db3-4715-b01b-c2d615536cdc"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -40,
        260
      ],
      "id": "3b60e75a-bc54-4b5e-949a-152a556ab8d9",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "toolDescription": "web search api\n",
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-search-preview\",\n  \"web_search_options\": {},\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.chatInput }}\"\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        120,
        260
      ],
      "id": "db665e05-453f-490d-950e-92c83bf26e32",
      "name": "HTTP Request",
      "credentials": {
        "openAiApi": {
          "id": "vo1Kz0pllXw8z5Cv",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -200,
        260
      ],
      "id": "64acf581-3e8c-4595-89f0-415b335c32bb",
      "name": "4.1",
      "credentials": {
        "openAiApi": {
          "id": "vo1Kz0pllXw8z5Cv",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "4.1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b3f6889f-abbf-4fb3-b654-3ceb69f8baaa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98fc6998a4fc974191a50fd1e28f3c93149311bffb0a029723a4889a4111c908"
  },
  "id": "bN3MDJRv3ZeMlhiq",
  "tags": [
    {
      "createdAt": "2025-02-08T08:50:12.969Z",
      "updatedAt": "2025-02-08T08:50:12.969Z",
      "id": "MsjujtEapjDx89km",
      "name": "YT"
    },
    {
      "createdAt": "2025-02-26T02:27:02.570Z",
      "updatedAt": "2025-02-26T02:27:02.570Z",
      "id": "T8IZSFIeQbyeWt7f",
      "name": "gen-AI"
    }
  ]
}